{%extends "base.html"%}
{%block content%}
    <h4><a href="logout">log out</a></h4>
    <h4><a href="{{url_for('settings')}}">settings</a></h4>

    <form method="post">
        <input id="write" name="write" type="text" placeholder="" class="textbox">
        <input type="submit" value="submit">
    </form>

    <div>
        {%for i in range(num-1, 0, -1)%}
        <hr>
        <h5>{{ posts[i][0] }}</h5>
        <img src="{{ pics[posts[i][0]] }}" height="60px" width="60px">
        <p>{{ posts[i][1] }}</p>
        {%endfor%}
    </div>
    
{%endblock%}